/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utilities */
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1170px;
  padding: 0 15px;
}
/*                          font color Starts                            */
.dark {
  color: #333;
}
.light {
  color: aliceblue;
}
.red {
  color: rgb(231, 20, 20);
}
.green {
  color: rgb(7, 139, 7);
}
.blue {
  color: #1583c7;
}
/*                              Background color Starts                   */
.bg-vuedient {
  background: linear-gradient(
    0deg,
    rgba(113, 181, 150, 1) 5%,
    rgba(49, 170, 116, 1) 46%,
    rgba(65, 184, 131, 1) 100%
  );
}
.bg-greendient {
  background: linear-gradient(
    0deg,
    rgba(79, 143, 34, 1) 5%,
    rgba(48, 162, 31, 1) 46%,
    rgba(29, 148, 48, 1) 100%
  );
}
.bg-reddient {
  background: linear-gradient(
    0deg,
    rgba(244, 45, 45, 1) 3%,
    rgba(210, 30, 30, 1) 52%,
    rgba(198, 33, 0, 1) 100%
  );
}
.bg-bluedient {
  background: linear-gradient(
    0deg,
    rgba(21, 123, 186, 1) 3%,
    rgba(19, 122, 185, 1) 46%,
    rgba(26, 145, 218, 1) 100%
  );
}
.bg-purpledient {
  background: linear-gradient(
    0deg,
    rgba(116, 5, 153, 1) 3%,
    rgba(144, 8, 173, 1) 54%,
    rgba(123, 0, 142, 1) 100%
  );
}
.bg-lightdient {
  background-image: radial-gradient(
    circle farthest-corner at 18.7% 37.8%,
    rgba(250, 250, 250, 1) 0%,
    rgba(225, 234, 238, 1) 90%
  );
}
.bg-darkdient {
  background-image: radial-gradient(
    circle,
    #22251c,
    #292c22,
    #313427,
    #383c2d,
    #404433
  );
}
.bg-danger {
  background-image: radial-gradient(
    circle 820px at -14.8% -18.7%,
    rgba(242, 7, 7, 1) 0%,
    rgba(242, 165, 13, 1) 90%
  );
}
.bg-success {
  background-image: radial-gradient(
    circle 1124px at 1.6% 5%,
    rgba(9, 249, 0, 0.36) 7.4%,
    rgba(216, 245, 34, 0.34) 48.1%,
    rgba(16, 186, 88, 0.35) 80.1%
  );
}
/*                              Font Weight Starts                   */
.fw-bolder {
  font-weight: 900;
}
.fw-bold {
  font-weight: 700;
}
.fw-thin {
  font-weight: 300;
}
.fw-thinner {
  font-weight: 100;
}
/*                              Font Size                            */
.fs-smaller {
  font-size: 10px;
}
.fs-small {
  font-size: 13px;
}
.fs-normal {
  font-size: 16px;
}
.fs-large {
  font-size: 22px;
}
.fs-larger {
  font-size: 28px;
}
.fs-18 {
  font-size: 18px;
}
.fs-20 {
  font-size: 20px;
}
.fs-25 {
  font-size: 25px;
}
/*                              font Case                            */
.tx-upp {
  text-transform: uppercase;
}
.tx-low {
  text-transform: lowercase;
}
.tx-cap {
  text-transform: capitalize;
}
/*                              letter spacing                            */
.ls-1 {
  letter-spacing: 1px;
}
.ls-2 {
  letter-spacing: 2px;
}
.ls-3 {
  letter-spacing: 3px;
}
.ls-4 {
  letter-spacing: 4px;
}
.ls-5 {
  letter-spacing: 5px;
}
/*                              Padding Starts                   */
.padx-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.pady-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.padx-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.pady-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.padx-3 {
  padding-left: 3rem;
  padding-right: 3rem;
}
.pady-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.padx-1-px {
  padding-left: 1px;
  padding-right: 1px;
}
.pady-1-px {
  padding-top: 1px;
  padding-bottom: 1px;
}
.padx-2-px {
  padding-left: 2px;
  padding-right: 2px;
}
.pady-2-px {
  padding-top: 2px;
  padding-bottom: 2px;
}
.padx-3-px {
  padding-left: 3px;
  padding-right: 3px;
}
.pady-3-px {
  padding-top: 3px;
  padding-bottom: 3px;
}
.padx-4-px {
  padding-left: 4px;
  padding-right: 4px;
}
.pady-4-px {
  padding-top: 4px;
  padding-bottom: 4px;
}
.padx-5-px {
  padding-left: 5px;
  padding-right: 5px;
}
.pady-5-px {
  padding-top: 5px;
  padding-bottom: 5px;
}
.padx-6-px {
  padding-left: 6px;
  padding-right: 6px;
}
.pady-6-px {
  padding-top: 6px;
  padding-bottom: 6px;
}
.padx-7-px {
  padding-left: 7px;
  padding-right: 7px;
}
.pady-7-px {
  padding-top: 7px;
  padding-bottom: 7px;
}
.padx-8-px {
  padding-left: 8px;
  padding-right: 8px;
}
.pady-8-px {
  padding-top: 8px;
  padding-bottom: 8px;
}
.padx-9-px {
  padding-left: 9px;
  padding-right: 9px;
}
.pady-9-px {
  padding-top: 9px;
  padding-bottom: 9px;
}
.padx-10-px {
  padding-left: 10px;
  padding-right: 10px;
}
.pady-10-px {
  padding-top: 10px;
  padding-bottom: 10px;
}
/*                             Margin Starts                         */
.mgx-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}
.mgy-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.mgx-2 {
  margin-left: 2rem;
  margin-right: 2rem;
}
.mgy-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.mgx-3 {
  margin-left: 3rem;
  margin-right: 3rem;
}
.mgy-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.mgl-1 {
  margin-left: 1rem;
}
.mgr-1 {
  margin-right: 1rem;
}
.mgl-2 {
  margin-left: 2rem;
}
.mgr-2 {
  margin-right: 2rem;
}
.mgl-3 {
  margin-left: 3rem;
}
.mgr-3 {
  margin-right: 3rem;
}
.mgt-1 {
  margin-top: 1rem;
}
.mgb-1 {
  margin-bottom: 1rem;
}
.mgt-2 {
  margin-top: 2rem;
}
.mgb-2 {
  margin-bottom: 2rem;
}
.mgt-3 {
  margin-top: 3rem;
}
.mgb-3 {
  margin-bottom: 3rem;
}
.mgx-1-px {
  margin-left: 1px;
  margin-right: 1px;
}
.mgy-1-px {
  margin-top: 1px;
  margin-bottom: 1px;
}
.mgx-2-px {
  margin-left: 2px;
  margin-right: 2px;
}
.mgy-2-px {
  margin-top: 2px;
  margin-bottom: 2px;
}
.mgx-3-px {
  margin-left: 3px;
  margin-right: 3px;
}
.mgy-3-px {
  margin-top: 3px;
  margin-bottom: 3px;
}
.mgl-1-px {
  margin-left: 1px;
}
.mgr-1-px {
  margin-right: 1px;
}
.mgl-2-px {
  margin-left: 2px;
}
.mgr-2-px {
  margin-right: 2px;
}
.mgl-3-px {
  margin-left: 3px;
}
.mgr-3-px {
  margin-right: 3px;
}
.mgt-1-px {
  margin-top: 1px;
}
.mgb-1-px {
  margin-bottom: 1px;
}
.mgt-2-px {
  margin-top: 2px;
}
.mgb-2-px {
  margin-bottom: 2px;
}
.mgt-3-px {
  margin-top: 3px;
}
.mgb-3-px {
  margin-bottom: 3px;
}

/*                                 Border Radius                     */
.borad-1 {
  border-radius: 7px;
}
.borad-2 {
  border-radius: 14px;
}
.borad-3 {
  border-radius: 21px;
}
.borad-4 {
  border-radius: 28px;
}
/*                                 Cursor                                */
.pointer {
  cursor: pointer;
}
.progress {
  cursor: progress;
}
.not-allowed {
  cursor: not-allowed;
}
/*                                  transition animation                         */
.bounce-enter-active {
  animation: bounce-in 0.3s;
}
.bounce-leave-active {
  position: absolute;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.5);
  }
}
.fade-enter-active {
  transition: opacity 1.5s;
}
.fade-leave-active {
  transition: opacity 1.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.slide-fade-enter-active {
  transition: all 0.3s ease;
}
.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}
